default: &default
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: your username
  password: your password

development:
  <<: *default
  database: testTask7_dev

test:
  <<: *default
  database: testTask7_test

production:
  <<: *default
  database: testTask7_prod